*{

    margin:0;

}

#Title{

font-family: 'Lobster', 'cursive', 'Trebuchet MS', 'Arial';
font-size: 40px;
padding-left: 10rem;

}

#titleColor{

  color: black;

}

span{

  color: white;

}

body{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    
}

body::-webkit-scrollbar{

  width: 0.25rem;

}

body::-webkit-scrollbar-track{

  background: black;

}

body::-webkit-scrollbar-thumb{

  background: lightskyblue;

}


main {

margin-left: 5rem;
padding: 1rem;

}

.navbar{

  position: fixed;
  background-color: black;
 transition: width 200ms ease;
  
}

.navbar-nav{

list-style: none;
padding: 0;
display: flex;
flex-direction: column;
align-items: center;

}

.nav-item{

  width: 100%;

}

.nav-link{
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7) brightness(75%);
  transition: 600ms;
}

.nav-link:hover{

filter: grayscale(0%) opacity(1) brightness(100%);
background: #3f4145;


}

.link-text{
  display: none;
}

.nav-link svg{

min-width: 2rem;
margin: 0 1.5rem;

}

.navbar:hover{

width: 9vw;

}

.navbar:hover .link-text {
  display: block;
  min-width: 6rem;
}

.fa-w-18{
  color: lightskyblue;
}


.fa-w-18{

transition: 600ms;

}

.container{
    margin: auto;
    overflow: hidden;
}

header{
    background: lightskyblue;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: black 4px solid;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

/* Bild */
#showcase{
    min-height: 400px;
    background: url('/img/showcase.jpg')no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

#showcase h1{

    margin-top: 2em;
    font-size: 45px;

}

#suggestion{

    padding: 1em;
    color: white;
    background: black;
    
}

#suggestion input{

    
    padding: 0.3em;
    height: 2em;
    width: 20em;

}

#suggestion h1{

  padding-left: 80vw;

}

#suggestion form{

  float: right;

}

.button1{
    height: 3em;
    width: 5em;
    background: white;
    border: none;
    text-decoration: none;
}

.infobox{

text-align: center;
display: grid;
grid-template-rows: repeat(1, 20em);
grid-template-columns: repeat(3, 20em);

}

footer{

    background-color: black;
    color: white;
    width: 80%;
    text-align: center;
    border-radius: 25em;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 1vw;  
    margin-bottom: 1vw;
    position: fixed;

    

}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


@media only screen and (min-width: 600px) {
.navbar{
  top: 0;
  width: 5rem;
  height: 100vh;
}
}


@media only screen and (max-width: 600px) {
.navbar{
  bottom: 0;
  width: 100vw;
  height: 5rem;

}
.navbar-nav{

  flex-direction: row;

}

.nav-link{
  justify-content: center;
}

.navbar:hover{

  width: 100%;

}
}
#aboutUs{

text-align: center;
font-size: 40px;

}

article{
  text-align: center;
  margin-left: 20em;
  margin-right: 20em;
}













